body {
  background: rgb(194, 183, 183);
}

table {
  margin: 100px auto;
}

.tdId {
  width: 40px;
}

.tdAccepter {
  width: 320px;
}

.tdStatus {
  width: 150px;
}

.tdStatus:hover {
  cursor: pointer;
}

.tdComplaints {
  width: 60px;
}

.tdComplaints {
  cursor: pointer;
}

td {
  text-align: center;
}

table,
tr,
td {
  border: 1px solid black;
}

.top {
  margin-top: 20px;
  display: -webkit-box;
  display: flex;
  width: 100%;
}

.filters {
  margin-left: 30%;
}

.marg {
  margin-left: 30px;
  margin-right: 7px;
}

.resetBtn {
  margin-left: 10px;
}

.resetBtn:hover {
  cursor: pointer;
}

.checkBox {
  width: 20px;
  height: 20px;
}

.checkBox:hover {
  cursor: pointer;
}

.show-btn {
  margin-left: 30%;
}

.show-btn:hover {
  cursor: pointer
}

.no-results {
  margin: 20% 45%;
}

.hover:hover {
  cursor: pointer;
  background: rgb(105, 103, 103);
}

@media screen (max-width: 738px) {
  .filters {
    width: 100%;
  }
}